In [1]:
import pandas as pd
import numpy as np

In [2]:
purchases_file = 'data_purchases.json'
df_purchases = pd.read_json(purchases_file)
df_purchases.head()

,Login,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

## **Consumers**

In [3]:
df_consumers = df_purchases.loc[:, ['Login', 'Age', 'Gender']]
df_consumers.head()

          Login  Age Gender
0     Aelalis34   38   Male
1        Eolo46   21   Male
2   Assastnya25   34   Male
3  Pheusrical25   21   Male
4        Aela59   23   Male

In [4]:
df_consumers.shape

(780, 3)

In [5]:
df_consumers.isnull().values.any()

False

In [6]:
df_consumers = df_consumers.drop_duplicates(subset='Login')
num_consumers = df_consumers.shape[0]
print('There are {0} consumers.'.format(num_consumers))

There are 573 consumers.

## **General Purchasing Analysis**

In [7]:
df_items = df_purchases.loc[:, ['Item ID', 'Item Name', 'Price']].sort_values('Price', ascending=False)
df_items.head()

     Item ID Item Name  Price
83        32   Orenmir   4.95
50        32   Orenmir   4.95
657       32   Orenmir   4.95
388       32   Orenmir   4.95
227       32   Orenmir   4.95

##### **Total Quantity of Purchases**

In [8]:
total_purchases = df_items.shape[0]
print('{0} purchases were made.'.format(total_purchases))

780 purchases were made.

##### **Total Income**

In [9]:
total_amount = df_purchases.loc[:, 'Price'].sum()
print('The total amount of purchases is {0}.'.format(total_amount))

The total amount of purchases is 2286.33.

##### **Number of Unique Items**

In [10]:
df_unique_items = df_items.drop_duplicates(subset='Item ID')
amt_unique_items = df_unique_items.shape[0]
print('There are {0} unique items.'.format(amt_unique_items))

There are 183 unique items.

##### **Average Purchase Price**

In [11]:
average_prices = df_unique_items.Price.mean()
print('Average of prices: {0:.2f}'.format(average_prices))

Average of prices: 2.95

## **Demographic Information by Gender**

In [12]:
gen_count = df_consumers['Gender'].value_counts()
gen_porcent = (gen_count/num_consumers)*100
gen_porcent = ['{0:.2f}%'.format(x) for x in gen_porcent]
df_gender = pd.DataFrame({'Gender': gen_count, '%':gen_porcent})
df_gender

                       Gender       %
Male                      465  81.15%
Female                    100  17.45%
Outro / N達o Divulgado       8   1.40%

In [13]:
purchases_gen = df_purchases.groupby(['Gender'])['Price']
purchases_gen_sum = purchases_gen.sum()
purchases_gen_count = purchases_gen.count()
purchases_gen_average = purchases_gen.mean()
purchases_gen_average = ['{0:.2f}'.format(x) for x in purchases_gen_average]

df_purchases_gen = pd.DataFrame({'Purchases':purchases_gen_count,
                                 'Total ($)':purchases_gen_sum,
                                 'Average price ($)':purchases_gen_average})
df_purchases_gen

                       Purchases  Total ($) Average price ($)
Gender
Female                       136     382.91              2.82
Male                         633    1867.68              2.95
Outro / N達o Divulgado         11      35.74              3.25

## **Purchases by age group**

In [14]:
age_labels = ['Less than 10', '10 to 19', '20 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 or more']
df_purchases['Age Range'] = pd.cut(x=df_purchases['Age'], bins=range(0, 81, 10), labels=age_labels)
df_purchases.head()

,Login,Age,Gender,Item ID,Item Name,Price,Age Range
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37,30 to 39
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,20 to 29
2,Assastnya25,34,Male,174,Primitive Blade,2.46,30 to 39
3,Pheusrical25,21,Male,92,Final Critic,1.36,20 to 29
4,Aela59,23,Male,63,Stormfury Mace,1.27,20 to 29

In [15]:
purchsase_age = df_purchases.groupby(['Age Range'])['Price']
purchsase_age_sum = purchsase_age.sum()
purchsase_age_count = purchsase_age.count()
purchsase_age_average = purchsase_age.mean()
purchsase_age_average = ['{0:.2f}'.format(x) for x in purchsase_age_average]
df_purchases_age = pd.DataFrame({'Purchases':purchsase_age_count, 
                                 'Total ($)':purchsase_age_sum, 
                                 'Average price ($)':purchsase_age_average})
df_purchases_age['Average price ($)'] = [x if x != 'nan' else 0 for x in df_purchases_age['Average price ($)']]
df_purchases_age

              Purchases  Total ($) Average price ($)
Age Range
Less than 10         32      96.62              3.02
10 to 19            262     752.89              2.87
20 to 29            381    1122.43              2.95
30 to 39            102     305.75              3.00
40 to 49              3       8.64              2.88
50 to 59              0       0.00                 0
60 to 69              0       0.00                 0
70 or more            0       0.00                 0

## **Top 5 Consumers**

In [16]:
login_purchases = df_purchases.groupby('Login')['Price']
login_total = login_purchases.sum()
login_count = login_purchases.count()
login_average = login_purchases.mean()
login_average = ['{0:.2f}'.format(x) for x in login_average]
df_purchases_login = pd.DataFrame({'Purchases':login_count,
                                   'Total ($)':login_total,
                                   'Average price ($)':login_average})
df_purchases_login.sort_values('Total ($)', ascending=False, inplace=True)
df_purchases_login[:5]

             Purchases  Total ($) Average price ($)
Login
Undirrala66          5      17.06              3.41
Saedue76             4      13.56              3.39
Mindimnya67          4      12.74              3.19
Haellysu29           3      12.73              4.24
Eoda93               3      11.58              3.86

## **Top 5 Best Selling Items**

In [17]:
best_selling_items = df_purchases.groupby(['Item ID', 'Item Name', 'Price'])['Price']
selling_items_total = best_selling_items.sum()
selling_items_count = best_selling_items.count()
df_selling_items = pd.DataFrame({'Purchases':selling_items_count, 
                                 'Total ($)':selling_items_total})
df_selling_items.sort_values('Purchases', ascending=False, inplace=True)
df_selling_items[:5]

                                                    Purchases  Total ($)
Item ID Item Name                            Price
39      Betrayal, Whisper of Grieving Widows 2.35          11      25.85
84      Arcane Gem                           2.23          11      24.53
31      Trickster                            2.07           9      18.63
175     Woeful Adamantite Claymore           1.24           9      11.16
13      Serenity                             1.49           9      13.41

## **Top 5 Most Profitable Items**

In [18]:
most_profitable_items = df_purchases.groupby(['Item ID', 'Item Name', 'Price'])['Price']
profitable_items_total = most_profitable_items.sum()
profitable_items_count = most_profitable_items.count()
df_profitables_items = pd.DataFrame({'Purchases':profitable_items_count, 
                                    'Total ($)':profitable_items_total})
df_profitables_items.sort_values('Total ($)', ascending=False, inplace=True)
df_profitables_items[:5]

                                          Purchases  Total ($)
Item ID Item Name                  Price
34      Retribution Axe            4.14           9      37.26
115     Spectral Diamond Doomblade 4.25           7      29.75
32      Orenmir                    4.95           6      29.70
103     Singed Scalpel             4.87           6      29.22
107     Splitter, Foe Of Subtlety  3.61           8      28.88